table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px; 
  }

h1 {
  font-size: 40px; 
  color: rgb(37, 80, 109);
}

button {
  border-radius: 8px;
  background-color: rgb(196, 194, 194);
  border: 3px solid rgb(37, 80, 109);
  margin: 0px 6px 0px 6px
}

